@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-clr: #F6F6F3;
    --bottom-bg-clr: #F7F7F7;
    --border-clr: #DEDEDE;
    --dashed-border-clr: #B3B3B3;
    --secondary-bg-clr: #EEEEEE;
    --text-clr: #60C1B6;
    --button-clr: #ED7861;
}